<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<parameter name="user" value="koki.nataraj@gmail.com"></parameter>
		<parameter name="pass" value="sam@2020"></parameter>
		<classes>
			<class name="org.base.ParameterTesting" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
